
#output {
    overflow: auto;
    height: 300px;
    width: 600px;
    border: 1px solid rgb(0, 13, 255);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e1edfa;
}

.message {
    max-width: 60%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    display: inline-block;
    cursor: pointer; /* クリック可能なスタイル */
}

/* 自分のメッセージを右側に表示 */
.my-message {
    background-color: #fac973;
    margin-left: auto;
    text-align: right;
    float: right;
}

/* 相手のメッセージを左側に表示 */
.their-message {
    background-color: #E5E5EA;
    margin-right: auto;
    text-align: left;
    float: left;
}

button {
    color: rgb(0, 13, 255);
	border-bottom: 2px solid #27acd9;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
    padding: 3px 10px;
}
button:hover {
	color: #fff;
	background: #27acd9;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}
